# Dependências principais do Flask
Flask==2.3.2
Flask-WTF==1.1.1
email-validator==2.0.0
python-dotenv==1.0.0
Werkzeug==2.3.6
Flask-SQLAlchemy==3.0.5
itsdangerous==2.1.2
flask-cors==4.0.0

# Internacionalização
Flask-Babel==3.1.0
Babel==2.12.1

# Segurança
Flask-Talisman==1.0.0
pyOpenSSL==23.2.0

# Servidor WSGI para produção
gunicorn==21.2.0