{% extends "base.html" %}

{% block title %}Página não encontrada - Sistema de Agendamento{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 text-center py-5">
        <h1 class="display-1">404</h1>
        <h2 class="mb-4">Página não encontrada</h2>
        <p class="lead mb-5">A página que você está procurando não existe ou foi removida.</p>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Voltar para a página inicial</a>
    </div>
</div>
{% endblock %}